@model RShop.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<h4>ورود به سایت</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Login" asp-route-Returnurl="@ViewData["returnurl"]">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (ViewData["ErrorMassage"] != null)
            {
                <div class="text-danger">
                    @ViewData["Message"]
                </div>
            }
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="control-label"/>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
        @{ 
            if(Model.ExternalLogin.Count== 0)
            {
                <div>درحال حاضر امکان ورود به سایت نمیباشد</div>
            }

            <form method="post" asp-controller="Account" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReurnUrl">
                <div class="social">
                    @foreach (var Provider in Model.ExternalLogin)
                    {
                        <button type="submit" value="@Provider.Name" class="btn btn-primary" name="provider" title="ورود با استفاده از اکانت @Provider.DisplayName">
                            @Provider.DisplayName


                        </button>



                    }
                </div>

            </form>
            


        }
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
